<h1>List of Songs</h1>
<% if session[:name] && session[:name] != "" %>
  <p>Welcome <%= User.find_by_name(session[:name]).name %></p>
<% end %>
<hr/>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.title %></a> <small>(by: <%= track.author %>)</small></h3>
    <p>
      <%= track.created_at %>
      <%= track.updated_at %>
    </p>
  </div>
<% end %>

<hr/>
<a href="/tracks/new">Add a new song</a>

<hr/>
<a href="/users/signup">Sign up</a> <a href="/users/signin">Sign in</a>